#btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px; /* Optional: Adjust font size as needed */
    padding: 10px 20px; /* Optional: Adjust padding as needed */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover State */
#btn:hover {
    background-color: yellow;
    color: black;
    border-radius: 30px;
}
/* Your CSS Code here. */